body {
  font-family: "Edu NSW ACT Foundation", cursive;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding:20px;
  border: 3px solid rgba(0, 0, 0, 0.192);
  border-radius: 50px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
#today-temp {
  font-family: Google Sans,arial,sans-serif;
  font-size: 70px;
  letter-spacing: 0;
  line-height: 20px;
}

.unit{
  color: #202124;
  display: inline-block;
  font-size: 17px;
  line-height: 40px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}
#heading {
  list-style: none;
  text-align: left;
  font-size: 25px;
}
#city {
  font-weight: bolder;
  font-size: 25px;
  padding-top: 5px;
}
.heading-2 {
  list-style: none;
  padding-top: 40px;
  text-align: left;
  font-size: 20px;

}
li::first-letter {
  text-transform: capitalize;
}

.active {
  color: #202124;
  cursor: default;
}
a:hover, a:link, a:active {
  text-decoration: none;
} 

.footer {
  text-align: center;
}
.row {
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
  font-weight: bold;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
  
}